<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div  class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Candidates Browser</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="signUpForm">
                          
                             <app-text-input [picture]="'fa-envelope'"  [formControl]="$any(signUpForm.controls['email'])" [type]="'text'" [label]="'Email Adress'"></app-text-input>
                             <app-text-input [picture]="'fa-user'"  [formControl]="$any(signUpForm.controls['firstname'])" [type]="'text'" [label]="'First Name'"></app-text-input> 
                             <app-text-input [picture]="'fa-user'"  [formControl]="$any(signUpForm.controls['lastname'])" [type]="'text'" [label]="'Last Name'"></app-text-input> 
                             <app-text-input [picture]="'fa-lock'"  [formControl]="$any(signUpForm.controls['password'])" [type]="type" [label]="'Password'"></app-text-input> 
                             <app-text-input [picture]="'fa-lock'"  [formControl]="$any(signUpForm.controls['confirmPassword'])" [type]="type" [label]="'Confirm Password'"></app-text-input> 
                            <button (click)="onRegister()"  [disabled]="signUpForm.invalid" type="submit" class="btn btn-primary btn-block mt-4 w-100">Register</button>
                            <div class="text-center pt-4 text-muted">Already have account? <a id="forget" routerLink="/login">Login</a> </div>
                        </form>
                    </div>
                    <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3">
                            <a (click)="handleGoogleLogin()" style="cursor: pointer;" class="px-2" >
                                <img class="login" src="./assets/img_templates/google_signin.png" alt="">
                             </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>