<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <ul *ngIf="authService.isLoggedIn()" class="navbar-nav me-auto mb-2 mb-md-0" >
        <li class="nav-item">
            <a class="nav-link ms-2"  routerLink="/candidates" 
     
            routerLinkActive="active" >Candidates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-2"  routerLink="/candidates" 
  
            routerLinkActive="active" (click)="logout()" >Logout</a>
            <!-- <div class="dropdown-menu mt-3" *dropdownMenu >
  
              <a  class="dropdown-item" (click)="logout()" >Logout</a>
          </div> -->
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link ms-2"  routerLink="/candidates" 
  
            routerLinkActive="active" (click)="logout()" >Logout</a>
          </li> -->
    </ul>
    <div *ngIf="authService.isLoggedIn()"  
  
    >
 

      <div class="dropdown-menu mt-3" *dropdownMenu >
  
          <a  class="dropdown-item" (click)="logout()" >Logout</a>
      </div>
    </div>
</nav>
